{% extends 'base.html' %}

{% block title %}About | {% endblock title %}

{% block body %}

<div class="container py-4">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="static/map_1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Address</h5>
                  <p class="card-text">Beside Ashirvad garden, Kabra nagar, Nanded</p>
                  <a href="https://maps.app.goo.gl/cfRbPP5msMcrTVt7A" target="_blank" class="btn btn-primary">View On Map</a>
                </div>
              </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="static/insta_1.png" class="card-img-top" alt="...">
                <div class="card-body" height="166">
                  <h5 class="card-title">Instagram</h5>
                  <p class="card-text">Visit Us on Instagram. Do like and follow.</p>
                  <a href="https://www.instagram.com/green_field_nanded/" target="_blank" class="btn btn-primary">Instagram</a>
                </div>
              </div>

        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="static/whatsapp.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Whatsapp</h5>
                  <p class="card-text">Feel Free to contact us on Whatsapp</p>
                  <a href="https://wa.me/+918988983030" target="_blank" class="btn btn-primary">Whatsapp</a>
                </div>
              </div>

        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="static/phone.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Call Us</h5>
                  <p class="card-text">Feel free to call us anytime for more details. </p>
                  <a href="tel:8988983030" target="_blank" class="btn btn-primary">Call Now</a>
                </div>
              </div>

        </div>
    </div>
</div>
<hr>
<div class="container" style="height: 30vh; margin-top: 10px ;padding-top: 10px;  ">
  <div class="cricket" style="display: grid; place-items: center;">
      <h1>About The Turf</h1>
  </div>
  <div class="text" style="display: grid ; place-items:center;" >
      <h4 style="margin-top: 20px;">The playground is of 6000 sq. feet with the dimension of 60*100.</h4>
      <h4 style="margin-top: 20px;">The playstation area is a closed area of 400 sq. feet with dimension of 10*40</h4>
      <h4 style="margin-top: 20px; padding-bottom: 20px;">24*7 Staff is available for any help on the ground</h4>
  </div>
</div>

{% endblock body %}

