{% extends 'base.html' %}

{% block body %}

{% comment %} <h1>Equipment </h1> {% endcomment %}

<div class="alert alert-warning alert-dismissable fade show" role="alert">
    <strong>If both offer are applicable the first one will be applied !!</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="container" style="margin-top: 50px; height: 50vh; ">
    <div class="cricket" style="display: grid; place-items: left; margin-left: 270px; ">
        <h1>Book more pay Less</h1>
    </div>
    <div class="text" style=" display: flex ;justify-items: center;" >
        <h3 style="margin-top: 50px;">Make a booking for more than 5 hours and get a dicount of 300 Rs</h3>
        <img src="static/cric_1.png" alt="" style="height: 30vh; margin-left: 100px; " >
    </div>
    <div class="img1" style="display: grid; place-items: right; height: 30vh;" >
    </div>
</div>
<div class="container" style="height: 30vh; padding-top: 10px;  ">
    <div class="cricket" style="display: grid; place-items: center;">
        <h1>Consistency is the Key</h1>
    </div>
    <div class="text" style="display: flex; justify-items: center; padding-bottom: 20px; ">
        <img src="static/football_1.png" alt="" style="height: 30vh; margin-left: 100px; " >
        <h3 style="margin-top: 50px; margin-left: 100px; ">For every 5th booking Get a 10% discount</h3>
    </div>
</div>


{% endblock body %}