{% extends 'base.html' %}


{% block body %}

{% for message in messages %}
    <div class="alert alert-primary alert-dismissable fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="container-fluid">
    <div class='row'>
        <div class='col-md-12 mt-2' >
            <h3 class = 'alert alert-success'>Booking History</h3>
        </div>

        <table class="table table-bordered border-dark">

            <thead>
                <tr>
                    <th class="col-md-3"><b>Name of Booking</b></th>
                    <th class="col-md-3"><b>End Date and Time</b></th>
                    <th class="col-md-3"><b>End Date and Time</b></th>
                    <th class="col-md-3"><b>Total Amount</b></th>
                    {% comment %} <th class="col-md-3"><b>Cancel Booking</b></th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
                {% for b in booking %}
                <tr>
                    <td><b>{{b.name}}</b></td>
                    <td><b>{{b.start_time}}</b></td>
                    <td><b>{{b.end_time}}</b></td>
                    <td><b>{{b.total}}</b></td>
                    {% comment %} <th class="col-md-3"><button type="button" class="btn btn-danger">Cancel</button></th> {% endcomment %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>


{% endblock body %}