{% extends 'base.html' %}


{% block body %}


            {% for message in messages %}
            <div class="alert alert-primary alert-dismissable fade show" role="alert">
              <strong>{{message}}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}

<form method="post" class="mx-1 mx-md-4" action='/verifyotp'>
  {% csrf_token %}

  <!-- <div class="d-flex flex-row align-items-center mb-4">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
      <input type="text" name='otp' id="form3Example1c" placeholder='Enter One time password !' class="form-control" />
      <label class="form-label" for="form3Example1c">OTP</label>
    </div>
  </div> -->
  <!-- <button type="submit" class="btn btn-primary btn-lg"
  style="padding-left: 2.5rem; padding-right: 2.5rem;">Verify</button> -->
  <div class="container">
    <div class="otpfield" style="display: grid; place-items: center; margin-top: 200px; margin-left: 300px; padding-right: 300px;">
      <input type="text" name="otp" class="form-control" placeholder="Enter OTP sent to mobile number">
      <button type="submit" class="btn btn-primary btn-lg"
      style= " margin-top: 20px; padding-left: 2.5rem; padding-right: 2.5rem;">Verify</button>
    </div>
  </div>

  
</form>


{% endblock body %}